body{
  font-family:sans-serif;
  margin: 0%;
}

#button-container {
display: flex;
align-items: center;
justify-content: center;
}


#page-nav {
display: flex;
justify-content: center;
margin-top: 40%;
}
button {
padding: 10px 20px;
margin: 10px;
border-radius: 5px;
border: 1px solid black;
}

#canvas {
position: absolute;
top: 0;
left: 0;
width: 100%;
height:75%;
border: 1px solid black;
}

.hidden{
display: none;
}


h1 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #ff7200;
  background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
  padding: 10px;
}


#setTime{
  position: relative;
  float:none;
  width: 250px;
  margin: none;
  margin-top: 15px;

}


input[type="time"]{
  position: relative;
  margin-top: 70px;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 1.2em;
  font-family: sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  width: 260px;
}

input[type="time"]:focus {
  background-color: rgb(189, 189, 189);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  outline: none;
}