body{
  font-family:sans-serif;
  margin: 0%;
  background-color:rgb(231, 231, 231);
}

#button-container {
display: flex;
align-items: center;
justify-content: center;
}


#page-nav {
margin-bottom: 15px;
display: flex;
margin-top: 35%;
z-index: 1;
position: absolute;
top: 15%;
left: 14%;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
}

button {
padding: 10px 20px;
margin: 10px;
border-radius: 5px;
background-color:rgba(255, 255, 255, 0);
color: black;
border: 1px solid black;
width: 200px;
height: 50px;
text-align: center;
font-size: 16px;
}

button:hover{
  background-color:rgba(255, 255, 255, 0.5);
}

.unactiveButton{
  padding: 10px 20px;
  margin: 10px;
  color: red;
  border-radius: 5px;
  border: 1px solid red;
  background-color:rgba(181, 181, 181, 0);
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  }

  .unactiveButton:hover{
    background-color:rgba(181, 181, 181, 0);
  }


#canvas {
position: absolute;
top: 0;
left: 0;
width: 99%;
height:99%;
}


#inputSetTime{
  margin-top: 15px;
justify-content: center;
display: flex;
align-items: center;
}

input[type="time"]{
  position: relative;
  margin-top: 20px;
  padding: 10px 15px;
  background-color:rgba(231, 231, 231, 0);
  border-radius: 5px;
  border: 1px solid rgb(181, 181, 181);
  font-size: 1.2em;
  font-family: sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  width: 260px;
  justify-content: center;
  display: flex;
  align-items: center;

}

input[type="time"]:focus {
  background-color: rgb(189, 189, 189);
  box-shadow: 0 6px 8px rgba(210, 105, 30, 0.3);
  outline: none;
}